[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
pillow = "*"
dj-database-url = "*"
whitenoise = "*"
sqlparse = "*"
asgiref = "*"
django = "*"
django-cors-headers = "*"
django-rest-auth = "*"
djangorestframework = "*"
psycopg2 = "*"
pytz = "*"
six = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "3.8"
